/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Mar-2015, 2:01:32 PM
    Author     : c0628439
*/

body {
    background-image: url("Gates_of_Scarlet_Devil_Mansion.jpg");
    background-size: 100vw 100vh;
   
}